body {
    background: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 600px;
    min-height: 500px;
    margin: auto;
    margin-top: 24px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.header {
    background: rgb(57, 106, 212);
    color: white;
    text-align: center;
    padding: 1px;
    border-radius: 4px 4px 0 0;
}

.posts {
    padding: 16px;
}

.post {
    /* background: red; */
}

.title {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.date {
    font-weight: normal;
    text-align: right;
    color: #aaa;
    font-size: 14px;
}

.post-content {
    clear: both;
}

.posts hr {
    border: none;
    border-bottom: 1.25px solid rgba(0, 0, 0, 20%);
}

.add-form {
    height: 150px;
    margin: 8px;
    padding: 8px;
    border: 2px solid rgb(168, 168, 168);
    background: #eee;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
}

.add-form * {
    display: block;
    width: 100%;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.hidden {
    height: 0;
    opacity: 0;
}